Package: siakhooi-textutils
Version: 1.9.0
Maintainer: Siak Hooi <siakhooi@gmail.com>
Depends: coreutils, bash, findutils, bsdextrautils
Architecture: amd64
Homepage: <https://github.com/siakhooi/textutils>
Description: commands to transform line of texts.
